body {
    display: flex;
    justify-content: center;
}

.all-student {
    margin-top: 50px;
    width: 1000px;
    max-width: 80%;
    display: inline-block;
    padding: 30px;
}

.all-student .search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.register {
    margin-top: 50px;
    width: 500px;
    max-width: 80%;
    border: 1px solid #41719c;
    display: inline-block;
    padding: 30px;
}

.register .register-infor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.confirm {
    margin-top: 50px;
    width: 500px;
    max-width: 60%;
    border: 1px solid #41719c;
    display: inline-block;
    padding: 30px;
}

.input-box {
    display: flex;
    vertical-align: middle;
    flex-direction: row;
    align-items: center;
    margin: 25px;
}

.radio-label {
    margin-left: 8px;
    margin-right: 10px;
    margin-bottom: 0;
    font-weight: 500;
}

.text-label {
    border: 1px solid #42729d;
    color: white;
    background-color: #70ad47;
    padding: 5px 7px;
    display: inline-block;
    width: 110px;
    height: 35px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 0;

}

.btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

form .btn-submit {
    border: 1px solid #41719c;
    border-radius: 6px;
    padding: 7px 20px;
    background-color: #70ad47;
    color: white;
    margin-top: 10px;
}

.student-count .btn-submit {
    border: 1px solid #41719c;
    border-radius: 6px;
    padding: 7px 20px;
    background-color: #70ad47;
    color: white;
    margin-top: 10px;
}

div .input-box p {
    margin: 0;
}

.text-field {
    padding-left: 10px;
    height: 35px;
    border: 1px solid #41719c;
    width: 250px;
}

.select-field {
    height: 35px;
    border: 1px solid #41719c;
    width: 250px;
}

.text-danger {
    color: red;
}

.input-group {
    width: 150px;
    float: right;
    margin-right: 100px;
}

.image-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.image-box img {
    display: flex;
    max-width: 150px;
    object-fit: contain
    
}

.student-count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
}

.student-list {
    padding: 30px;
}

.student-list .student-table {
    width: 100%;
}

.student-list .student-table tr {
    width: 100%;
    height: 30px;
}

tr .action {
    display: flex;
    align-items: center;
    justify-content: center;
}

tr .action .btn-action {
    text-align: center;
    color: #fff;
    background-color: #70ad47;
    font-size: 12px;
    padding: 8px 12px;
    border: 1px solid #4f81bd;
    border-radius: 2px;
    cursor: pointer;
    margin: 5px

}

